.bookmark-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Responsive grid with minimum item width of 200px */
    grid-auto-rows: auto; /* Automatically adjust row height based on content */
    grid-gap: 10px; /* Adjust the gap between grid items */
    max-width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: solid  pink 1px;
    width: auto;
    height: 20rem;
}


.container-title {
    align-self: center;

}

.top-box {
    display: flex;
    border-radius: 1rem;
    background-color: rgb(221, 236, 236);
    overflow-x: auto;
    transition: transform 0.3s ease;
    border: solid blue 1px;
    width: 100%;
    height: 100%;
}

.content-box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid orange 1px;
    width: 100%;
}


.folder-content-box {
    width: 11rem;
    z-index: 2;
    background-color: red;
    position: absolute;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: auto;
}

.grid-box {
    display: flex;
    overflow: auto;

}

.box-grid{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25%;
    justify-content: center;
    padding: 5%;
    gap: 5%;
    flex-shrink: 0;
    flex-basis: 100%;
    overflow-x: hidden;

}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.slider-dots {
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #000;
    cursor: pointer;
}


.folder-title-box {
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    width: 100%;
    width: 100%;
    overflow: hidden;
    margin: .5rem;
    border: solid red 2px;
}

.folder-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }


  .link {
    line-height: inherit;
    color: black;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-self: center;
    border: solid red;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

  .folder-title-box {
    position: relative;
  }
  
.folder-title-tooltip {
margin-bottom: -2rem;
position: relative;
top: -40px;
left: 0;
width: 100%;
text-align: center;
background-color: rgba(0, 0, 0, 0.8);
color: white;
padding: 1px;
font-size: 10px;
white-space: wrap;
visibility: hidden;
opacity: 0;
transition: opacity 0.3s ease, visibility 0.3s ease;
width: auto;
z-index: 100;
}
  
  .item:hover .folder-title-tooltip {
    visibility: visible;
    opacity: 1;
  }